<!DOCTYPE html>
<html>
    <head>
        <title>Range Searcher</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'rsstyle.css') }}">
    </head>
    <body>
        <h1>RANGE SEARCHER</h1>
        <p class = "error_h">There were no matches for your search.</p>
        <p class = "error_p">If you were expecting matches, make sure you counted the columns in your CSV correctly and didn't make any mistakes in typing your search terms or range.</p>
        <form action = "{{ url_for('home') }}" method = "get">
            <button class = "enterbutton" style = "margin-top: 5%; size-adjust: 200%;" type = "submit">Search Again</button>
        </form>
    </body>
</html>